---
type Props = {
  globals: {
    [key: string]: {
      type: string;
      docs: string;
      parent: string;
    };
  };
}

const props: Props = Astro.props;

---
<table>
    <thead>
      <tr>
        <th>name</th>
        <th>type</th>
        <th>docs</th>
      <th>parent</th>
      </tr>
    </thead>
    <tbody>
      {Object.entries(props.globals).map(([name, value]) => (
        <tr>
          <td>{name}</td>
          <td>{value.type}</td>
          <td>{value.docs}</td>
          <td>{value.parent}</td>
        </tr>
      ))}
    </tbody>
  </table>