---
type Props = {
  globals: {
    [key: string]: {
      type: string;
      docs: string;
      parent: string;
      is_callable: boolean;
      is_exception: boolean;
    };
  };
  is_exception?: boolean;
};

const props: Props = Astro.props;
---

<table role="grid" class="doc-table">
  <thead>
    <tr>
      <th>Name</th>
      {
        props.is_exception ? null : (
          <th>Type</th>
          <th>docs</th> 
        )  
      }
      
    </tr>
  </thead>
  <tbody>
    {
      Object.entries(props.globals).map(([name, value]) => {
        if (name.startsWith("__builtins__.")) {
          name = name.replace("__builtins__.", "");
        }

        if (!props.is_exception && value.is_exception) {
          return null;
        }

        return (
          <tr>
            <td>
              {name}
            </td>
            {
              props.is_exception ? null : (
                <td>{value.type}</td>
                <td>{value.docs}</td>
              )  
          }
            
          </tr>
        );
      })
    }
  </tbody>
</table>
